@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* Fonts */
  --font-roboto: "Roboto", sans-serif;
  --font-roboto-flex: "Roboto Flex", monospace;
  
  /* Colors */
  --lightest-gray: #BAC1CC;
  --font-body: #242A38;
  --medium-blue: #242A38;
  --dark-blue: #111727;
  --brand-blue: #0065B3;
  --off-white: #F3F3F3;
  --light-gray: #B3B3B3;
  --border-gray: #E2E5EA;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
}

/* Fonts */
.roboto {
  font-family: var(--font-roboto);
}

.roboto-flex {
  font-family: var(--font-roboto-flex);
}

/* Colors */
.light-gray {
  color: var(--light-gray);
}

.lightest-gray {
  color: var(--lightest-gray);
}

.font-body {
  color: var(--font-body);
}

.text-dark {
  color: var(--dark-blue);
}

.color-off-white {
  color: var(--off-white);
}

.text-medium-blue {
  color: var(--medium-blue);
}

/* Backgrounds */
.bg-hover {
  background-color: var(--medium-blue);
}

.bg-dark-blue {
  background-color: var(--dark-blue);
}

.bg-button {
  background-color: var(--brand-blue);
}

.bg-off-white {
  background-color: var(--off-white);
}

.bg-brand-blue {
  background-color: var(--brand-blue);
}

/* Borders */
.border-gray {
  border-color: var(--border-gray);
}

.border-right-gray {
  border-right-color: var(--border-gray);
}

.border-bottom-gray {
  border-bottom-color: var(--border-gray);
}

.border-top-gray {
  border-top-color: var(--border-gray);
}

.border-left-gray {
  border-left-color: var(--border-gray);
}